@import "./styles/reset.css";

/* Add global styles here */

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #F5F5F5;
  text-align: center;
  padding: 2em;
  color: #333333;
}

h1 {
  color: #1D3557;
  margin: 0.4em 0;
  font-size: 3.5rem;
}

p, li {
  font-size: 1.2em;
  color: #666666;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.body-txt {
  font-size: 1.5rem;
  color: #2D6A4F;
  margin: 0.4em 0;
  font-weight: bold;
}

a {
  color: #F1A208;
  background-color: #F1FAEE;
  padding: 0.1em 0.3em;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover,
a:focus {
  color: #1D3557;
  background-color: #A8DADC;
  text-decoration: underline;
  outline: none;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-select {
  user-select: none;
}

/* Breakpoints for responsive css */

/* Small devices (phones in portrait mode) */
@media (min-width: 320px) {
    .body-story-txt {
    max-width: 100vw;

    text-align: center;
  }
  /* Styles for small devices */
}

/* Medium devices (phones in landscape mode or smaller tablets) */
@media (min-width: 480px) {
  /* Styles for medium devices */
}

/* Larger phones or small tablets */
@media (min-width: 600px) {
  /* Styles for larger phones or small tablets */
}

/* Tablets */
@media (min-width: 768px) {
    .body-story-txt {
    max-width: 50vw;

    text-align: center;
  }
  /* Styles for tablets */
}

/* Small desktop or large tablets in landscape */
@media (min-width: 1024px) {
    .body-story-txt {
    max-width: 30vw;

    text-align: center;
  }

  /* Styles for small desktops or larger tablets */
}

/* Laptops and desktops */
@media (min-width: 1280px) {
  /* Styles for laptops and desktops */
}

/* Larger desktops */
@media (min-width: 1440px) {
  /* Styles for larger desktops */
}

/* Very large screens */
@media (min-width: 1920px) {
  /* Styles for very large screens (4K and above) */
}
